body {
	width: 400px;
	height: 9001px;
	overflow: hidden;
	background: white;
	margin: 0;
	font-family: sans-serif;
}
#flexContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}
%debuttoned {
	border: none;
	background: none;
	padding: 0;
}
%linklike {
	text-align: left;
	&:not(:disabled) {
		color: hsl(240, 100%, 40%);
		text-decoration: underline;
		cursor: pointer;
	}
	&:disabled {
		color: hsl(0, 0%, 40%);
	}
	@extend %debuttoned;
}
%expandable {
	display: flex;
	&::before {
		display: inline-block;
		content: "";
		width: 8px;
		height: 16px;
		background: url(/images/expander.svg);
		background-size: contain;
	}
	&.expanded::before {
		transform: rotate(.25turn);
	}
}
#menu {
	flex: 1 1 auto;
	padding: 6px;
	overflow-y: auto;
}
#menu h1 {
	font-size: 16px;
	font-weight: normal;
	height: 19px;
	margin: 4px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	--bar-color: hsl(210, 66%, 75%);
	@function bgCircle($radius, $center, $color) {
		@return radial-gradient(circle at $center, $color, $color $radius, transparent $radius);
	}
	@function bgRect($pos, $size, $color) {
		@return linear-gradient($color, $color) $pos / $size no-repeat;
	}
	&::before {
		content: "";
		width: 20px;
		height: 11px;
		margin-right: 8px;
		background:
			bgCircle($radius: 2px, $center: 2px 2px, $color: var(--bar-color)),
			bgCircle($radius: 2px, $center: left 2px bottom 2px, $color: var(--bar-color)),
			bgRect($pos: 2px 0, $size: calc(100% - 2px) 4px, $color: var(--bar-color)),
			bgRect($pos: 2px bottom, $size: calc(100% - 2px) 4px, $color: var(--bar-color));
	}
	&::after {
		content: "";
		flex: 1;
		height: 11px;
		margin-left: 8px;
		background:
			bgCircle($radius: 2px, $center: right 2px top 2px, $color: var(--bar-color)),
			bgCircle($radius: 2px, $center: right 2px bottom 2px, $color: var(--bar-color)),
			bgRect($pos: 0 0, $size: calc(100% - 2px) 4px, $color: var(--bar-color)),
			bgRect($pos: 0 bottom, $size: calc(100% - 2px) 4px, $color: var(--bar-color));
	}
}
#pinsOutdated {
	font-size: 14px;
	background: var(--bar-color);
	border-radius: 20px;
	padding: 0 9px;
	margin-left: 8px;
}
#noPins {
	font-size: 14px;
}
#cleanPins {
	@extend %linklike;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.folderNode {
	display: grid;
	grid-template-columns: 24px 1fr 24px;
	grid-template-rows: 24px;
	margin-bottom: 1px;
}
.selIndicator {
	grid-column: 1 / -1;
	grid-row: 1;
	pointer-events: none;
}
.expander {
	grid-row: 1;
	grid-column: 1;
	cursor: pointer;
	@extend %debuttoned;
	@extend %expandable;
	&::before {
		margin: auto;
	}
}
$folderIconSpace: 18px;
.folderName {
	grid-column: 2;
	grid-row: 1;
	padding-left: $folderIconSpace;
	padding-right: 2px;
	white-space: nowrap;
	background: url(/images/folder.svg) no-repeat left;
	@extend %linklike;
}
.andSubfolders {
	grid-column: 2;
	grid-row: 2;
	font-size: 10px;
	padding-left: $folderIconSpace;
	padding-bottom: 1px;
	@extend %linklike;
	.keyboardHelp {
		&::before {
			content: "(";
		}
		&::after {
			content: ")";
		}
	}
}
.pin {
	grid-column: 3;
	grid-row: 1;
	background: url(/images/iconmonstr-pin-1.svg) no-repeat center;
	background-size: 18px;
	border: 1px solid;
	&:active {
		border-color: hsl(0, 0%, 40%);
		background-color: hsla(0, 0%, 80%, 1);
	}
	&.pinned {
		background-image: url(/images/iconmonstr-pin-6.svg);
		border-color: hsla(210, 100%, 50%, 1);
		background-color: hsla(210, 100%, 95%, 1);
	}
	&.pinned:active {
		border-color: hsla(210, 100%, 65%, 1);
		background-color: hsla(210, 100%, 85%, 1);
	}
	position: relative;
	.keyboardHelp {
		position: absolute;
		z-index: 1;
		top: 100%;
		right: 50%;
		transform: translateX(50%);
		border: 1px solid black;
		background: yellow;
		font-size: 10px;
		padding: 0 2px;
	}
}
.subfolders {
	grid-column: 2 / 4;
	grid-row: 3;
	margin-top: 1px;
	margin-bottom: -1px;
}
#optionsPane {
	flex: none;
    background: hsl(281, 100%, 90%);
    border-top: 1px solid hsl(299, 100%, 25%);
}
.optionsExpander {
	width: 100%;
	height: 22px;
	font-size: 14px;
	@extend %debuttoned;
	@extend %expandable;
	align-items: center;
	&::before {
		margin-left: 12px;
		margin-right: 6px;
	}
}
#optionsArea {
	font-size: 13px;
	input[type="radio"], input[type="checkbox"] {
		vertical-align: -1px;
	}
	ul ul {
		margin-left: 12px;
	}
}