body {
	width: 400px;
	height: 9001px;
	overflow: hidden;
	background: white;
	margin: 0;
	font-family: sans-serif;
	/* TODO: Set maxHeight to 100vh for Chrome */
}
#flexContainer {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
%debuttoned {
	border: none;
	background: none;
	padding: 0;
}
%linklike {
	text-align: left;
	&:not(:disabled) {
		color: hsl(240, 100%, 40%);
		text-decoration: underline;
		cursor: pointer;
	}
	&:disabled {
		color: hsl(0, 0%, 40%);
	}
	@extend %debuttoned;
}
%expandable {
	display: flex;
	&::before {
		display: inline-block;
		content: "";
		width: 8px;
		height: 16px;
		background: url(images/expander.svg);
		background-size: contain;
	}
	&.expanded::before {
		transform: rotate(.25turn);
	}
}
#menu {
	flex: 1 1 auto;
	padding: 6px;
	overflow-y: auto;
}
#noPins {
	font-size: 14px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.folderNode {
	display: grid;
	grid-template-columns: 24px 1fr 24px;
	grid-template-rows: 24px;
	margin-bottom: 1px;
}
.expander {
	cursor: pointer;
	@extend %debuttoned;
	@extend %expandable;
	&::before {
		margin: auto;
	}
}
$folderIconSpace: 18px;
.folderName {
	grid-column: 2;
	grid-row: 1;
	padding-left: $folderIconSpace;
	background: url(images/folder.svg) no-repeat left;
	@extend %linklike;
}
.andSubfolders {
	grid-column: 2;
	grid-row: 2;
	font-size: 10px;
	padding-left: $folderIconSpace;
	margin-bottom: 1px;
	@extend %linklike;
}
.pin {
	grid-column: 3;
	grid-row: 1;
	background: url(images/iconmonstr-pin-1.svg) no-repeat center;
	background-size: 18px;
	border: 1px solid;
	&.pinned {
		background-image: url(images/iconmonstr-pin-6.svg);
	}
}
.subfolders {
	grid-column: 2 / 4;
	grid-row: 3;
}
.optionsPane {
	flex: none;
	/* TODO: Set padding-bottom on Chrome to work around cutoff at the bottom */
}
.optionsExpander {
	@extend %debuttoned;
	@extend %expandable;
	&::before {
		margin-left: 12px;
		margin-right: 6px;
	}
}